<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            text-align: center;
            margin: 10px;
        }
    </style>
</head>

<body>
    <table border="1">
        <tr>
            <td>menu</td>

        </tr>
        <% for(var i = 0; i < cfe.length; i++){ %>
            <tr>
                <td>
                    <%=cfe[i].menu%>
                </td>

            </tr>
            <% } %>
    </table>

</body>

</html>